<center>
<%@reviews.each do |review|%>
<h1>All Reviews for <%= @reviews.title%></h1>
<%end%>
<%= @user.name%>
<div>
<% @reviews.each do |review| %>
// <%= @current_user.name%><br><br>
<% end %> 
</div>
</center>